*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron{
    margin: 0 auto;
    padding: 70px 30px;
    background-color: #9575cd;
    color: floralwhite;
    border-radius: 4px;
}
#history{
    padding: 70px auto;
    text-align: justify;
}
footer{
    background: #d1c4e9;
}
.container{
    margin:15px;
    margin-bottom: 0px;
    padding: 15px;
}
h1,h2,h3,h4,h5{
    font-size: larger;
    font-weight: bolder;
}